body{
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;

}

#inputBox{
    padding: 10px;
    width: 50%;
}

#showBtn{
    background-color:rgb(114, 143, 64);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

#showBtn:hover{
    background-color: darkolivegreen;
}

#outputBox{
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: x-large;
}